<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>CRUD com Node.js, Bootstrap 4, Atlantis e MySQL</h1>
</body>
</html>
